<form class='mb-3' > 
    <legend>New Post</legend>
    <div class="form-group">
      <label for="title">title</label>
      <input [(ngModel)]="post.title" name="title" type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
      <label for="body">title</label>
      <textarea  [(ngModel)]="post.body" name="body" type="text" class="form-control" id="body"></textarea>
    </div>
    <button (click)='createPost()' type="submit" class="btn btn-primary mt-3 " *ngIf="status">Submit</button>
    <button (click)='updatePost()' type="submit" class="btn btn-danger mt-3 " *ngIf="!status">update</button>
  </form>

  

<ul class="list-group">
    <li class="list-group-item" *ngFor="let post of posts" >
        <h4>{{ post.title }}</h4>
        <p>{{ post.body }}</p>
        <div (click)='editPost(post)' class="align-right" > <button class="btn-warning btn">Edit</button>  </div>
        <div (click)='deletePost(post)' class="align-right mt-2" > <button class="btn-danger btn">Delete</button>  </div>
    </li>
</ul>